# Nuxt dev/build outputs
.output
.data
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
node_modules/.pnpm/@babel+compat-data@7.26.8/node_modules/@babel/compat-data/plugin-bugfixes.js

# VSCode
.vscode

# Generated Classy files
.classy/
